@use '@/shared/styles/func';
@use '@/shared/styles/mixins';
@use '@/shared/styles/variables';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-default);
  border-radius: func.rem(5);
  text-align: center;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  overflow: hidden;
  transition: transform variables.$transition;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }

  & > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: func.rem(15);
    padding: func.rem(20) func.rem(10);
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & img {
    width: 100%;
    object-fit: cover;
  }

  h3 {
    font-weight: 700;
  }
  
  span {
    font-size: func.rem(30);
    color: var(--blue-teal);
    margin-top: auto;
    margin-bottom: func.rem(10);
  }
}

.btn {
  svg {
    width: 18px;
    height: 16px;
    margin-right: func.rem(20);
  }
}